[rsyncman]
host-id=test_rsync
logdir=/var/log/rsyncman


[/home/travis/build/jordiprats/eyp-rsync/.travis]
rsync-path="sudo rsync"
exclude = [ "bo_filestore","DSO",".snapshot" ]
delete = true
remote=""
remote-path="/opt/informatica/"
check-file=/shared_fs/ihub/is.mounted
expected-fs=nfs
expected-remote-fs=ext2/ext3
