[rsyncman]
host-id=test_rsync
logdir=/var/log/rsyncman


[/home/travis/build/jordiprats/eyp-rsync/.travis/origin/]
rsync-path="sudo rsync"
exclude = [ "bo_filestore","DSO",".snapshot" ]
delete = true
remote=""
remote-path="/home/travis/build/jordiprats/eyp-rsync/.travis/destination"
check-file=/home/travis/build/jordiprats/eyp-rsync/.travis/origin/check_file
expected-fs=ext4
expected-remote-fs=ext4
