[rsyncman]
host-id=test_rsync
logdir=/var/log/rsyncman

[@@PWD@@/.travis/origin/]
rsync-path="sudo rsync"
exclude = [ "bo_filestore","DSO",".snapshot" ]
delete = true
remote=""
remote-path="@@PWD@@/.travis/destination"
check-file=@@PWD@@/.travis/origin/check_file
expected-fs=ext4
expected-remote-fs=ext4
